target/
target
/target
!.mvn/wrapper/maven-wrapper.jar
/target/
inventory-service/target
inventory-service/target/
*.class
*.jar
.class
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

*/target
*target/
*/target/
*target


*.idea
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
*.gz

